<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hotel.app.domain.TopCategory" alias="TopCategory"/>
		<typeAlias type="com.hotel.app.domain.SubCategory" alias="SubCategory"/>
		<typeAlias type="com.hotel.app.domain.ServiceOption" alias="ServiceOption"/>
		<typeAlias type="com.hotel.app.domain.Room" alias="Room"/>
		<typeAlias type="com.hotel.app.domain.Reservation" alias="Reservation"/>
		<typeAlias type="com.hotel.app.domain.Member" alias="Member"/>
		<typeAlias type="com.hotel.app.domain.Board" alias="Board"/>
		<typeAlias type="com.hotel.app.domain.BedOption" alias="BedOption"/>
	</typeAliases>
	<mappers>
		<!-- oracle 용 Mapper  -->
		<mapper resource="mybatis/oracle/TopCategoryMapper.xml"/>
		<mapper resource="mybatis/oracle/SubCategoryMapper.xml"/>
		<mapper resource="mybatis/oracle/ServiceOptionMapper.xml"/>
		<mapper resource="mybatis/oracle/BedOptionMapper.xml"/>
		<mapper resource="mybatis/oracle/RoomMapper.xml"/>
		<mapper resource="mybatis/oracle/BoardMapper.xml"/>
		
		<!-- mysql 용 Mapper  -->
		<mapper resource="mybatis/mysql/BoardMapper.xml"/>
		
	</mappers>
</configuration>







